*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    align-items: center;
    display: flex;
}
.container{
    border: 1px;
    background-color: #fbfbfb;
    text-align: center;
    padding: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
button {
    padding: 8px 12px;
    border-radius: 4px;
    border-color: #e8e8e8;
}
.download-modal {
    background: #4696e5;
    color: white;
    border: none;
}
.learn-more {
    background: #fbfbfb;
    color: #828792;
} 

.end{
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 50px;
}

.icons {
    font-size: 24px;
    margin-bottom: 10px;
}

.icon{ 
    margin: 0 10px;
    color:  #a0a8b3;
}

.diven {
    border: 1px solid #ebebeb;
    margin: 24px 12px;
    width: 15%;
    margin-left: 200px;
}